<script type="text/javascript">
    RED.nodes.registerType('i2c-lcd',{
        category: 'output',
        color: '#ffaaaa',
        defaults: {
            name: { value: "" },
            address: { value: 0x27, required: true },
            format: { value: 2, required: true }
        },
        inputs: 1,
        outputs: 0,
        icon: "lcd.png",
        align: "right",
        paletteLabel: "I2C LCD",
        label: function() {
            return this.name||"lcd display";
        }
    });
</script>

<script type="text/x-red" data-template-name="i2c-lcd">
    <div class="form-row">
        <label for="node-input-name"><i class="icon-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>
    <div class="form-row">
        <label for="node-input-address"><i class="icon-tag"></i> I2C Address</label>
        <input type="text" id="node-input-address" placeholder="0x27">
    </div>
    <div class="form-row">
        <label for="node-input-format"><i class="icon-tag"></i> Format</label>
        <select type="text" id="node-input-format" style="width: 150px;">
            <option value="2">16x2</option>
            <option value="4">20x4</option>
        </select>
    </div>
</script>

<script type="text/x-red" data-help-name="i2c-lcd">
    <p>A simple node that writes string to the attached I2C LCD display.</p>
    <p>Expects a <code>msg.payload</code> with an array of strings in it.</p>
    <p>Strings start with a number to indicate which line the string should be written to.</p>
    <p>For example, a msg payload containing <code>['1:received','2:some message']</code> will print <i>received</i> to the first line,</p>
    <p>and <i>some message</i> to the second line of the display.</p>
    <p>Display is cleared before writing new messages, and it is up to you to make sure the length of the string fits the display!</p>
    <p>To clear the display just send an empty array.</p>
</script>